{% extends "@AppWork/layout/default/basic.html.twig" %}

{% block title %}Homepage{% endblock title %}

{% block description %}This is homepage{% endblock description %}

{% block navbar_brand_title %}Basic{% endblock navbar_brand_title %}

{% block content %}This is content{% endblock content %}

{% block footer %}<a href="/" class="footer-link pt-3">Home</a>{% endblock footer %}