{% extends "@AppWork/layout/default/blank.html.twig" %}

{% block title %}Homepage{% endblock title %}

{% block description %}This is homepage{% endblock description %}

{% block content %}
    <h4 class="font-weight-bold">
        <span class="text-muted font-weight-light">Layouts /</span> Blank
    </h4>
{% endblock content %}